<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head :: commonHeader('文章管理')"></head>
<link th:href="@{/static/css/plugins/summernote/summernote.css}" rel="stylesheet">
<link th:href="@{/static/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <label th:text="${tip}"></label>
                    <form class="form-horizontal m-t" id="articleForm" th:action="@{/article/submit}" method="post">
                        <input type="hidden" name="articleId" th:value="${article.articleId}">
                        <input type="hidden" name="isRelease">
                        <input type="hidden" name="isRoof" th:value="${article.isRoof}">
                        <input type="hidden" name="userId" th:value="${article.userId}">
                        <input type="hidden" name="articleDate" th:value="${article.articleDate}">
                        <input type="hidden" name="isRealease" th:value="${article.isRelease}">
                        <input type="hidden" name="articleViews" th:value="${article.articleViews}">
                        <input type="hidden" name="articleCommentCount" th:value="${article.articleCommentCount}">
                        <input type="hidden" name="articleLikeCount" th:value="${article.articleLikeCount}">
                        <input type="hidden" name="articleContent" id="articleContent" th:value="${article.articleContent}">
                        <input type="hidden" name="labelName" value="">
                        <input type="hidden" name="sortName" value="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题：</label>
                            <div class="col-sm-8">
                                <input id="articleTitle" name="articleTitle" th:value="${article.articleTitle}" class="form-control" type="text" aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章分类：</label>
                            <div class="col-sm-9">
                                <select class="form-control m-b" name="sortId" id="sortId">
                                    <option value="0">-分类选择-</option>
                                    <option th:each="sortObj: ${sorts}" th:selected="${sortObj.isSelect==1}" th:value="${sortObj.sortId}" th:text="${sortObj.sortName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标签：</label>
                            <div class="col-sm-9">
                                <!--<select class="form-control m-b" name="labelId" id="labelId">-->
                                    <!--<option value="0">-标签选择-</option>-->
                                    <!--<option th:each="labelObj: ${labels}" th:selected="${labelObj.isSelect==1}" th:value="${labelObj.labelId}" th:text="${labelObj.labelName}"></option>-->
                                <!--</select>-->

                                <div>
                                    <div class="checkbox checkbox-info" th:each="labelObj : ${labels}">
                                        <input th:data-name="${labelObj.labelName}" th:id="${labelObj.labelId}" name="labelId" id="labelId"
                                               type="checkbox" th:value="${labelObj.labelId}" th:checked="${labelObj.isCheck}">
                                        <label th:for="${labelObj.labelId}" th:text="${labelObj.labelName}"></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章内容：</label>
                            <div class="col-sm-8">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content no-padding">
                                        <div class="summernote" id="summernote"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <input class="btn btn-primary just-save" type="button" value="暂存"/>
                                <input class="btn btn-danger save-release" type="button" value="保存并发布"/>
                                <a class="btn btn-info" style="margin-left: 20px;" href="javascript:history.go(-1)">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 全局js -->
<div th:include="common/common_js :: onloadJS"></div>
<script th:src="@{/static/js/demo/form-validate-demo.js}"></script>
<!-- SUMMERNOTE -->
<script th:src="@{/static/js/plugins/summernote/summernote.min.js}"></script>
<script th:src="@{/static/js/plugins/summernote/summernote-zh-CN.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var note = $('div #summernote').summernote({
            lang: 'zh-CN',
            height: 500,                 // set editor height
            focus: true,
            onImageUpload: function(files,editor,welEditable){
                sendFile(files,editor,welEditable);
            }
        });

        note.code($('#articleContent').val());

        $('.just-save').click(function () {
            if (!isContentNull(note.code())) {
                swal({
                    title: "OPS",
                    text: "博文内容不能为空哦"
                });
                return;
            }
            $('#articleContent').val(note.code());
            setIsSelect(0);
            giveVal();
            $('#articleForm').submit();
        });

        $('.save-release').click(function () {
            if (!isContentNull(note.code())) {
                swal({
                    title: "OPS",
                    text: "博文内容不能为空哦"
                });
                return;
            }
            $('#articleContent').val(note.code());
            setIsSelect(1);
            giveVal();
            $('#articleForm').submit();
        });

        function sendFile(file,editor,welEditable) {
            var data = new FormData();
            data.append("file", file[0]);
            console.log(data);
            $.ajax({
                data: data,
                type: "POST",
                url: '[[@{/upload/pic}]]',
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    data = JSON.parse(data);
                    if (data.errorCode == 0) {
                        // editor.insertImage(welEditable, 'http://www.yangshuqian.com/images/testimg.jpg');
                        editor.insertImage(welEditable, data.path);
                    }else {
                        alert('上传失败');
                    }
                }
            });
        }
    });

    function giveVal(){
        var lname = '';
        $('input[name="labelId"]:checked').each(function(){
            lname += $(this).attr('data-name')+",";
        });
        $('input[name="labelName"]').val(lname.substring(0, lname.length-1));
        $('input[name="sortName"]').val($('#sortId').find('option:selected').text());
    }

    function setIsSelect(state){
        $('input[name="isRelease"]').val(state);
    }

    var isContentNull = function (content) {
        if (typeof (content) == "undefined" || content == '' || content == null){
            return false;
        }
        return true;
    }
</script>
</html>