<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadJS">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/static/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/static/js/plugins/layer/layer.min.js}"></script>
    <script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/static/js/plugins/validate/messages_zh.min.js}"></script>
    <script th:src="@{/static/js/content.js}"></script>

    <!-- Sweet alert -->
    <script th:src="@{/static/js/plugins/sweetalert/sweetalert.min.js}"></script>
</div>
</body>
</html>
