<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/common_head :: commonHeader('500错误')"></head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">服务器内部错误</h3>

    <div class="error-desc">
        服务器好像出错了...
        <br/>您可以返回主页看看
        <br/><a th:href="@{/home}" class="btn btn-primary m-t">主页</a>
    </div>
</div>

<!-- 全局js -->
<div th:include="common/common_js :: onloadJS"></div>
</body>
</html>
